<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.collection_select :id, Service.all, :id, :name, {}, :multiple=>true %>
</p>
<p>
  <%= f.label :svgdata%><br />
  <%= f.text_area :svgdata%>
</p>
<script type="text/javascript">
  $(document).ready(function(){
  var editor = CodeMirror.fromTextArea('map_svgdata', {
    height: "350px",
    parserfile: "parsexml.js",
    stylesheet: "/javascripts/codemirror/css/xmlcolors.css",
    path: "/javascripts/codemirror/js/",
    continuousScanning: 500,
    lineNumbers: true
    });
  });
</script>
<p>
  <%= f.label :width%><br />
  <%= f.text_field :width%>
</p>
<p>
  <%= f.label :height%><br />
  <%= f.text_field :height%>
</p>


