<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.collection_select :id, Service.all, :id, :name, {}, :multiple=>true %>
</p>
<p>
  <%= f.label :svgdata%><br />
  <%= f.text_area :svgdata%>
</p>
<p>
  <%= f.label :width%><br />
  <%= f.text_field :width%>
</p>
<p>
  <%= f.label :height%><br />
  <%= f.text_field :height%>
</p>
